# folders
node_modules
build

# graph-node generated data
generated

# deprecated files
deprecated

# docker data files
docker/data

# error logs
yarn-error.log

# generated yaml files
contents.yaml
exchange.yaml